/* Add some global styles here! */
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');
html, body {
  font-family: 'Fredoka', sans-serif;
  background: var(--base-bg);
  /* background: linear-gradient(to right, #ffdefdff, #eff3feff, #ffdefdff); */
  height: 100vh;

}

#app {
  font-family: 'Fredoka', sans-serif;
}
:root {
  --red: #f59ba5ff;
  --base-bg:  #eff3feff;
  --light-pink: #ffdefdff;
  --medium-pink: #ed9ff6ff;
  --medium-blue: #2f01d1ff;
  --dark-blue: #091d68ff;
  --light-yellow: #fef0bcff;
  --near-black: #02052cff;
  --muted-blue:#5a69d0ff;
  --muted-lavender:#6264a1ff;
  --magenta:#863263ff;
  --dark-plum:#3b1f48ff;
  --medium: 75px;
  --large: 150px;

}

button.btn-small {
  font-size: 100%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: linear-gradient(to right, var(--magenta), var(--medium-pink), var(--magenta));
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
/* custom fonts */



@font-face { 
  font-family: "Starborn";
  src: local("Starborn"), url("./fonts/Starborn.ttf"), 
  format("truetype");
  
}
@font-face {
  font-family: 'Aprils Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Aprils Regular'), url('./fonts/Aprils Demo.woff') format('woff');
  }
@font-face {
  font-family: 'Love Note Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Love Note Regular'), url('./fonts/Love Note-Personal Use.woff') format('woff');
  }
@font-face{
  font-family:'Fredoka',sans-serif;
  src:url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
}
h1{
  font-family: 'Starborn';
}
h2,h3,h4,h5,h6{
  font-family: 'Fredoka';
}


  .buttons {
    background: linear-gradient(to right, #ff8a00, #da1b60);
    color: white;
  }
  .v-btn.v-btn--secondary {
    background: linear-gradient(to right, #da1b60, #ff8a00);
    color: white;
  }
